* {
	box-sizing: border-box;
}

body {
	background-image: url("../img/bricks.jpg");
	background-size: cover;
}

.container {
	width: 80%;
	margin: 0 auto;
}

.header {
	margin-top: 100px;
	margin-bottom: 40px;
}

.header h1 {
	text-align: center;
	color: white;
	text-transform: uppercase;
	font-size: 3em;
}

.image {
	display: inline-block;
	float: left;
	margin-top: 0;
}

.image img {
	border-radius: 30%;
}

.intro {
	color: white;
}

.intro h2 {
	font-weight: bolder;
}

.intro p {
	line-height: 100%;
}

.skills {
	background-color: rgba(40,40,40,.5);
	color: #fff;
	border-top-left-radius: 45%;
	border-bottom-right-radius: 45%;
	padding-top: 2%;
	padding-bottom: .5%;
}

.column h2 {
	margin-top: 0;
	padding-top: 0;
}

.column h3 {
	margin-top: 0;
	padding-top: 0;
}

.column {
	width: 30%;
	display: inline-block;
	padding-left: 2%;
	margin-left: 30px;
	float: left;
}

.main_text {
	display: inline-block;
	margin: 70px auto;
	clear: both;
	padding-top: 5px;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 20px;
	color: white;
	width: 100%;
	background-color: rgba(40,40,40,.5);
	border-top-left-radius: 20%;
	border-bottom-left-radius: 20%;
	border-top-right-radius: 20%;
	border-bottom-right-radius: 20%;
}

.main_text a {
	color: black;
}

.main_text a:hover {
	text-decoration: none;
	font-size: 1.2em;
	color: red;
}

#skill_list {
	margin-left: 20px;
}

/*Navigation*/

.nav {
	background-color: rgba(41,41,41,.4);
	position: fixed;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 10px;
}

.nav ul {
	float: right;
}

.nav ul li {
	display: inline;
	padding-right: 40px;
}

.nav ul li:last-of-type {
	padding-right: 100px;
}

.nav ul li a {
	color: white;
	text-transform: uppercase;
	letter-spacing: 0.07em;
	font-weight: bolder;
	font-size: 1.2em;
}

.nav a:hover {
	text-decoration: none;
	color: silver;
	border-top: 6px solid white;
	padding-top: 10px;
	border-bottom: 6px solid white;
	padding-bottom: 10px;
	-webkit-transition: 400ms;
	transition: 400ms;
}

/*Typography*/

h1,
h2,
h3 {
	font-family: "Vollkorn", Helvetica, Arial, sans-serif;
}

p,
li,
a {
	font-family: "Raleway", Times, "Times New Roman", serif;
}

.intro p {
	font-family: "Vollkorn", Helvetica, Arial, sans-serif;
	font-size: 2em;
	font-weight: 100;
	-webkit-margin-before: 0;
	-moz-margin-before: 0;
	-o-margin-before: 0;
}

.skills h3 {
	text-align: center;
	text-transform: uppercase;
}

