* {
	box-sizing: border-box;
}

body {
	background-image: url("../img/bricks.jpg");
	background-size: cover;
}

a {
	text-decoration: none;
}

.glyphicon {
	color: white;
	margin-right: 5.5%;
	/*font-size: 1.2em;*/
}

.container {
	width: 80%;
	margin: 0 auto;
}

.column {
	width: 45%;
	margin: 0 auto;
}

.column h3 {
	width: 40%;
	padding-top: 10px;
	padding-bottom: 5px;
	color: white;
	font-size: 1.5em;
	margin: 0 auto;
	text-align: center;
	text-transform: uppercase;
}

.column p {
	text-align: center;
	padding-bottom: 10px;
	font-size: 1.5em;
}

.header {
	background-color: rgba(40,40,40,.5);
	margin-top: 10%;
	margin-bottom: 2.5%;
	margin-top: 15%;
	width: 45%;
	margin-left: auto;
	margin-right: auto;
	padding-right: .5%;
	padding-left: .5%;
	padding-bottom: .8%;
	padding-top: .8%;
	border-top-left-radius: 22%;
	border-top-right-radius: 22%;
}

.header h1 {
	width: 60%;
	margin: 0 auto;
	color: white;
	text-align: center;
	text-transform: uppercase;
}

.header p {
	text-align: center;
	color: white;
	font-size: 1.2em;
	font-weight: bolder;
}

.contact-info {
	width: 100%;
}

.email {
	background-color: rgba(40,40,40,.5);
	margin-bottom: 2.5%;
}

.email a{
	color: white;
}

.email a:hover {
	color: black;
	font-size: 1.2em;
	text-decoration: none;
}

.phone {
	background-color: rgba(40,40,40,.5);
	margin-bottom: 2.5%;
}

.phone a {
	color: white;
}

.phone a:hover {
	color: black;
	font-size: 1.2em;
	text-decoration: none;
}

.address {
	border-bottom-left-radius: 22%;
	border-bottom-right-radius: 22%;
	background-color: rgba(40,40,40,.5);
	margin-bottom: 2.5%;
}

.address p {
	color: white;
	font-weight: 400;
}

.social {
	background-color: rgba(40,40,40,.5);
	margin-bottom: 2.5%;
	padding: 30px;
}

.social h3 {
	padding-bottom: 20px;
}

.social h3:last-of-type {
	padding-bottom: 0;
}

.social a {
	color: white;
}

.social a:hover {
	color: black;
	font-size: 1.2em;
	text-decoration: none;
}

/*Navigation*/

.nav {
	background-color: rgba(41,41,41,.4);
	position: fixed;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 10px;
}

.nav ul {
	float: right;
}

.nav ul li {
	display: inline;
	padding-right: 40px;
}

.nav ul li:last-of-type {
	padding-right: 100px;
}

.nav ul li a {
	color: white;
	text-transform: uppercase;
	letter-spacing: 0.07em;
	font-weight: bolder;
	font-size: 1.2em;
}

.nav a:hover {
	text-decoration: none;
	color: silver;
	border-top: 6px solid white;
	padding-top: 10px;
	border-bottom: 6px solid white;
	padding-bottom: 10px;
	-webkit-transition: 400ms;
	transition: 400ms;
}


/*Typography*/

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Vollkorn", Helvetica, Arial, sans-serif;
}

p,
li,
a {
	font-family: "Raleway", Times, "Times New Roman", serif;
}