* {
	box-sizing: border-box;
}

body {
	background-image: url("../img/bricks.jpg");
	background-size: cover;
}

.header {
	margin: 0 auto;
	margin-top: 15%;
	width: 70%;

}

.header h1 {
	color: white;
	text-align: center;
	font-size: 3em;
	text-transform: uppercase;
	background-color: rgba(40,40,40,.5);
	padding-top: 10px;
}

.panel-group {
	width: 40%;
	margin: 0 auto;
	margin-top: 100px;
}

.panel>.panel-heading {
	background-color: rgba(40,40,40,.5);
}

.panel-default{
	color: black;
	font-weight: 500;
	font-size: medium;
	background-color: rgba(250,250,250,.5);
}

.panel-title {
	color: white;
	font-size: large;
	font-weight: 800;
}

.panel-title a:hover {
	text-decoration: none;
	color: black;
}

/*Navigation*/

.nav {
	background-color: rgba(41,41,41,.4);
	position: fixed;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 10px;
}

.nav ul {
	float: right;
}

.nav ul li {
	display: inline;
	padding-right: 40px;
}

.nav ul li:last-of-type {
	padding-right: 100px;
}

.nav ul li a {
	color: white;
	text-transform: uppercase;
	letter-spacing: 0.07em;
	font-weight: bolder;
	font-size: 1.2em;
}

.nav a:hover {
	text-decoration: none;
	color: silver;
	border-top: 6px solid white;
	padding-top: 10px;
	border-bottom: 6px solid white;
	padding-bottom: 10px;
	-webkit-transition: 400ms;
	transition: 400ms;
}

/*Typography*/

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Vollkorn", Helvetica, Arial, sans-serif;
}

p,
li,
a {
	font-family: "Raleway", Times, "Times New Roman", serif;
}