* {
	box-sizing: border-box;
}

body {
	background: url("../img/bricks.jpg") no-repeat top center;
	background-size: cover;
}

.nav {
	height: 65px;
	z-index: 1;
}

#carousel-example-generic {
	padding-top: 65px;
}

.carousel-caption {
	background-color: rgba(255,255,255,.5);
	color: black;
	font-weight: bolder;
	font-size: large;
	border-top-right-radius: 30%;
	border-top-left-radius: 30%;
	width: 40%;
	margin: 0 auto;
}

.col-md-4 {
	color: white;
}

.col-md-4 > h2 {
	text-align: center;
	height: 45%;
}


/*Navigation*/

.nav {
	background-color: rgba(41,41,41,.4);
	position: fixed;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 10px;
}

.nav ul {
	float: right;
}

.nav ul li {
	display: inline;
	padding-right: 40px;
}

.nav ul li:last-of-type {
	padding-right: 100px;
}

.nav ul li a {
	color: white;
	text-transform: uppercase;
	letter-spacing: 0.07em;
	font-weight: bolder;
	font-size: 1.2em;
}

.nav a:hover {
	text-decoration: none;
	color: silver;
	border-top: 6px solid white;
	padding-top: 10px;
	border-bottom: 6px solid white;
	padding-bottom: 10px;
	-webkit-transition: 400ms;
	transition: 400ms;
}

/*typography*/

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Vollkorn", Helvetica, Arial, sans-serif;
}

p,
li,
a {
	font-family: "Raleway", Times, "Times New Roman", serif;
}