* {
	box-sizing: border-box;
}

body {
	background-image: url("../img/bricks.jpg");
	background-size: cover;
}

.header {
	margin: 0 auto;
	margin-top: 110px;
	padding: 2.5% 5%;
	width: 60%;
	background-color: rgba(0,0,0,.5);
}

.header h1 {
	color: white;
	font-weight: 600;
	font-size: 3em;
	text-align: center;
}

.header p {
	color: white;
	font-size: 1.5em;
	text-align: center;
	line-height: 1.2em;
}

#rowOne {
	margin-top: 40px;
}

#rowTwo {
	margin-top: 60px;
	margin-bottom: 30px;
}

@media (min-width: 768px) and (max-width: 979px) {

	.header {
		width: 65%;
	}

	.header h1 {
		font-size: 2em;
	}

	.header p {
		font-size: 1em;
	}

	.row {
		margin-left: 2.5%;
		margin-right: 2.5%;
	}

	#rowOne {
		background-color: rgba(220,220,220,.5);
		padding-top: 5%;
		padding-right: 2.5%;
		padding-left: 2.5%;
		margin-bottom: -5%;
	}

	img {
		margin-bottom: 10%;
		margin-right: 0;
	}

	#rowTwo {
		background-color: rgba(220,220,220,.5);
		padding-top: 5%;
		padding-right: 2.5%;
		padding-left: 2.5%;
	}
}

.image-responsive {
	display: block;
	width: 100%;
	height: auto;
}

/*Navigation*/

.nav {
	background-color: rgba(41,41,41,.4);
	position: fixed;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 10px;
	z-index: 1;
}

.nav ul {
	float: right;
}

.nav ul li {
	display: inline;
	padding-right: 40px;
}

.nav ul li:last-of-type {
	padding-right: 100px;
}

.nav ul li a {
	color: white;
	text-transform: uppercase;
	letter-spacing: 0.07em;
	font-weight: bolder;
	font-size: 1.2em;
}

.nav a:hover {
	text-decoration: none;
	color: silver;
	border-top: 6px solid white;
	padding-top: 10px;
	border-bottom: 6px solid white;
	padding-bottom: 10px;
	-webkit-transition: 400ms;
	transition: 400ms;
}

/*Typography*/

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Vollkorn", Helvetica, Arial, sans-serif;
}

p,
li,
a {
	font-family: "Raleway", Times, "Times New Roman", serif;
}